<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422999707038-g7gkns7cupqc7n458uu1q1r7p9rs9mpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422999707038-g7gkns7cupqc7n458uu1q1r7p9rs9mpm</string>
	<key>API_KEY</key>
	<string>AIzaSyA3ZmnYn5K_Cv1S0JFZICC-9ZMcfCz4DPM</string>
	<key>GCM_SENDER_ID</key>
	<string>422999707038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meGood</string>
	<key>PROJECT_ID</key>
	<string>me-good-2575b</string>
	<key>STORAGE_BUCKET</key>
	<string>me-good-2575b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:422999707038:ios:dc9656507b983a38ba9a8f</string>
</dict>
</plist>
